
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a class='brand-wrap' href='/'>
            <img src="../../assets/imgs/theme/logo.png" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Tableau de bord</span>
                </a>
            </li>
            <li class="menu-item has-submenu" routerLinkActive="active">
                <a class="menu-link">
                    <i class="icon material-icons md-business"></i>
                    <span class="text">Gestion commerciale</span>
                </a>
                <div class="submenu">
                    <a routerLink="/clients" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-person" style="font-size: 16px !important;"></i>
                        Clients
                    </a>
                    <a routerLink="/commandes" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-shopping_cart" style="font-size: 16px !important;"></i>
                        Commandes
                    </a>
                </div>
            </li>
            <li class="menu-item has-submenu" routerLink="/produits" routerLinkActive="active">
                <a class="menu-link">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Gestion produits</span>
                </a>
                <div class="submenu">
                    <a routerLink="/produits" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-store" style="font-size: 16px !important;"></i>
                        Produits
                    </a>
                    <a routerLink="/categories" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-category" style="font-size: 16px !important;"></i>
                        Catégories
                    </a>
                    <a routerLink="/attributs" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-tune" style="font-size: 16px !important;"></i>
                        Attributs
                    </a>
                    <a routerLink="/caracteristiques" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-featured_play_list" style="font-size: 16px !important;"></i>
                        Caractéristiques
                    </a>
                    <a routerLink="/marques" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-label" style="font-size: 16px !important;"></i>
                        Marques
                    </a>
                </div>
            </li>
            <li class="menu-item has-submenu" routerLink="/utilisateurs-actifs" routerLinkActive="active">
                <a class="menu-link">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Utilisateurs</span>
                </a>
                <div class="submenu">
                    <a routerLink="/utilisateurs-actifs" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-check_circle" style="font-size: 16px !important;"></i>
                        Utilisateurs actifs
                    </a>
                    <a routerLink="/utilisateurs-non-actifs" routerLinkActive="active" class="submenu-link">
                        <i class="icon material-icons md-remove_circle" style="font-size: 16px !important;"></i>
                        Utilisateurs non actifs
                    </a>
                </div>
            </li>
            <li class="menu-item "  routerLinkActive="active">
                <a class="menu-link" routerLink="/gestion-roles">
                    <i class="icon material-icons md-security"></i>
                    <span class="text">Rôles</span>
                </a>
            </li>
            <li class="menu-item "  routerLinkActive="active">
                <a class="menu-link" routerLink="/modules">
                    <i class="icon material-icons md-extension"></i>
                    <span class="text">Modules</span>
                </a>
            </li>
            <li class="menu-item "  routerLinkActive="active">
                <a class="menu-link" routerLink="/taxes">
                    <i class="icon material-icons md-attach_money"></i>
                    <span class="text">Taxes</span>
                </a>
            </li>
            <li class="menu-item "  routerLinkActive="active">
                <a class="menu-link" routerLink="/parametres">
                    <i class="icon material-icons md-settings"></i>
                    <span class="text">Paramètres</span>
                </a>
            </li>
            <li class="menu-item "  routerLinkActive="active">
                <a class="menu-link" routerLink="/connexions">
                    <i class="icon material-icons md-exit_to_app"></i>
                    <span class="text">Connexions</span>
                </a>
            </li>
        </ul>
        <hr />
        <br />
        <br />
    </nav>
    

    
    
</aside>