<p>produits works!</p>
<app-menu></app-menu>
<main class="main-wrap">
  <app-header></app-header>
  <section class="content-main">
    <div class="content-header">
      <h2 class="content-title">Gestion des Rôles</h2>
<!--       <div>
        <a href="#" class="btn btn-" style="
          background-color: #3bb77e;
          color: white;
        "><i class="material-icons md-plus"></i> Créer un nouveau rôle</a>
      </div> -->
    </div>


  </section>
  <!-- content-main end// -->
  <app-footer></app-footer>
</main>
