/* Ensure the column takes full height of the viewport */
/* Ensure the card takes up the full height of its container */

::ng-deep textarea.form-control {
    min-height: 230px !important;
    border-radius: 4px !important;
}

::ng-deep .form-control {

    padding: 0.5rem 1rem !important;

}

::ng-deep .material-icons {
    vertical-align: bottom !important;
    font-weight: 600;
}
