<app-menu></app-menu>
<main class="main-wrap">
    <app-header></app-header>


    <section class="content-main">
      <div class="content-header">
        <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Retourner</a>
      </div>    
        <div class="row">
            <div class="col-12">
                <div class="content-header">
                    <h2 class="content-title">Annonce : {{ad.title}} par {{ad.user.full_name}}</h2>
                    <div>
                      <button *ngIf="ad.validation_status === 'draft'" class="btn btn-info rounded font-sm mr-5 text-body hover-up" (click)="saveAsDraft()">Sauvegarder en brouillon</button>
                      <button *ngIf="ad.validation_status === 'draft'" class="btn btn-primary rounded font-sm hover-up" (click)="publish()">Publier</button>
                      
                      <div *ngIf="ad.validation_status === 'pending'">
                        <button class="btn btn-success rounded font-sm hover-up mr-15" (click)="approve()">Approuver</button>
                        <button class="btn btn-danger rounded font-sm hover-up" (click)="reject()">Rejeter</button>
                      </div>
                      
                      <div *ngIf="ad.validation_status === 'approved'">
                        <button class="btn btn-danger rounded font-sm hover-up" (click)="reject()">Rejeter</button>
                      </div>
                      
                      <div *ngIf="ad.validation_status === 'rejected'">
                        <button class="btn btn-success rounded font-sm hover-up" (click)="approve()">Approuver</button>
                      </div>
                                          </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row gx-5">
                      <aside class="col-lg-3 border-end">
                        <nav class="nav nav-pills flex-column mb-4">
                            <div *ngFor="let media of ad.medias">
                                <p-image [src]="media.url"  [preview]="true" appendTo="body" [style]="{height: '350px'}" alt="Image de l'annonce"></p-image>
                              </div>
                        </nav>
                      </aside>
                      <div class="col-lg-9">
                        <section class="content-body p-xl-4">
                          <form>
                            <h4 class="mb-20">Détails de l'annonce : </h4>
                      
                            <!-- Détails de l'annonce -->
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Titre de l'annonce*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.title" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Description*</label>
                              <div class="col-lg-9">
                                <textarea class="form-control" rows="4" [value]="ad.description" readonly></textarea>
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Prix*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.price | currency:'USD':true" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Ville*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.city" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Code postal*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.postal_code" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Catégorie*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.category.name" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Date de création*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.created_at | date:'dd/MM/yyyy'" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Date de mise à jour*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.updated_at | date:'dd/MM/yyyy'" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Statut de validation*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.validation_status" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Utilisateur*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.user.first_name + ' ' + ad.user.last_name" readonly />
                              </div>
                            </div>
                            <div class="row mb-4">
                              <label class="col-lg-3 col-form-label">Téléphone de l'utilisateur*</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" [value]="ad.user.telephone" readonly />
                              </div>
                            </div>
                            <h4 class="mb-20">Les critéres de l'annonce : </h4>
                      
                            <!-- Paramètres de l'annonce -->
                            <div class="row mb-4">
                              <ng-container *ngFor="let setting of ad.setting; let i = index">
                                <ng-container *ngIf="setting.setting">
                                  <div class="col-lg-6 mb-10">
                                    <div class="row">
                                      <label class="col-lg-6 col-form-label">{{ setting.label }} :</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" [value]="setting.setting" readonly />
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                            </div>
                            
                            
                                                </form>
                        </section>
                      </div>
                      
                    
                    </div>
                  </div>
                </div>
              </div>
              
              
        </div>
    </section>
    <!-- content-main end// -->
    <app-footer></app-footer>
  </main>
  